#nav {
    display: none;
}

.fb-33,
.fb-50,
.fb-66,
.fb-25,
.fb-75,
.fb-100 {
    width: 100%;
}

.fb-33:hover {
    cursor: pointer;
    opacity: 0.70;
    transition: all 0.3s ease-in-out;
}

.fb-50:hover {
    cursor: pointer;
    opacity: 0.70;
    transition: all 0.3s ease-in-out;
}

.fb-25:hover {
    cursor: pointer;
    opacity: 0.70;
    transition: all 0.3s ease-in-out;
}

.fb-75:hover {
    cursor: pointer;
    opacity: 0.70;
    transition: all 0.3s ease-in-out;
}

.fb-100:hover {
    cursor: pointer;
    opacity: 0.70;
    transition: all 0.3s ease-in-out;
}

img {
    border-width: 0px;
}

.foot-right {
    float: left;
    width: 100%;
    justify-content: center;
}

.foot-left {
    width: 100%;
    justify-content: center;
}

#nav-small {
    width: 100%;
    margin-bottom: 30px;
}

#head-icon-link {
    float: left;
    width: 100%;
    text-align: center;
}

aside {
    border-top: 1px inset #FFF;
    padding-top: 20px;
    margin-top: 40px;
}