body {
    margin: 0;
}

#MAIN {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#HEADER_BAR {
    height: 8px;
    background-color: darkkhaki;
}

#HEADER {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

#NAVIGATION {
    text-decoration: none;
    text-transform: uppercase;
}

#NEWS {
    display: flex;
}

#NEWS1  {
    text-align: center;
}

#LOGO {
    justify-content: center;
}


#CIRCLES {
    display: flex;
    justify-content: center;
}

#CIRCLE1 {
    background-color: rgb(209, 136, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0,7;
}

#CIRCLE2 {
    background-color: rgb(209, 0, 139);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0,7;
    margin-left: -20px;
}

#CIRCLE3 {
    background-color: forestgreen;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0,7;
    margin-left: -20px;
}

