* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.CONTAINER {
    width: 100%;
    display: flex;
}

.LEFTSIDE {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 15%;
    height: 100vh;
    background-color: #252a3a;
}

.LEFTSIDE button {
    width: 50%;
    padding: 10px;
    color: #fff;
    position: relative;
    top: 20px;
    background-color: #1B98F8;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.LEFTSIDE button:hover {
    background-color: white;
    transition: all 250ms ease;
    color: black;
    background-color: #1B98F8;
}

.LEFTSIDE ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LEFTSIDE li {
    width: 50%;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LEFTSIDE li:hover {
    transform: translateX(30px);
    padding: 10px;
    color: black;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.LEFTSIDE h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    color: rgb(29, 83, 119);
}

.LABELS {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.LEFTSIDE .Private {
    color: #fff;
    width: 60%;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LEFTSIDE .Private:hover {
    padding: 10px;
    color: black;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.LEFTSIDE .Job {
    width: 60%;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.LEFTSIDE .Job:hover {
    padding: 10px;
    color: black;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.LEFTSIDE .Flights {
    width: 60%;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.LEFTSIDE .Flights:hover {
    padding: 10px;
    color: black;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.MAILLIST {
    background-color: #252a3a;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 35%;
    height: 100vh;
}

.MAILLIST h1 {
    color: rgb(29, 83, 119);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MAILLIST .MAIL1 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL2 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL3 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL4 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL5 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL5 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAILLIST .MAIL6 {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
}

.MAIL1 img {
    margin: 10px;
    width: 50px;
}

.MAIL2 img {
    margin: 10px;
    width: 50px;
}

.MAIL3 img {
    margin: 10px;
    width: 50px;
}

.MAIL4 img {
    margin: 10px;
    width: 50px;
}

.MAIL5 img {
    margin: 10px;
    width: 50px;
}

.MAIL6 img {
    margin: 10px;
    width: 50px;
}

.MAILLIST p {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.TEXT {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 50%;
    height: 100vh;
}

.TEXT h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    color: cadetblue;
    border-bottom: 1px solid black;
}

.Text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    line-height: 25px;
}