body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 100%;
}

header {
    background-color: #052775;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 300%;
}

.MENU {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: grab;
}

.MENU:hover {
    color: rgb(255, 0, 0);
    transition: 1s ease-in-out;
}

header:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}

.BUTTON1 {
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #1B98F8;
    width: 75px;
    text-align: center;
    margin: 0 auto;
}

.BUTTON1:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: 750ms ease;
}

nav {
    margin: 0;
    line-height: 30px;
    padding-left: 25px;
}

.LIST {
    list-style: none;
    padding: 0;
}

nav li:hover {
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    color: black;
    transition: 850ms;
}

.LIST span,
nav span {
    color: #4b7197;
}

.LABELS {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 0;
    margin-left: -12px;
}

.LABELS li {
    list-style-type: none;
}

.MAILS-ALL {
    padding: 0;
}

.MAILS {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.MAILS img {
    width: 42px;
    height: 42px;
    border-radius: 3px;
    margin-right: 8px;
}

.mail-details {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    font-weight: 700;
}

.topic {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.info {
    font-size: 13px;
    color: #000;
    margin: 7px 0;
}

.MAILS:hover {
    background-color: rgb(172, 172, 172);
    transition: 350ms ease;
    cursor: pointer;
}

.details h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 0;
}

.HEADER {
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.SEND {
    width: 40%;
    margin-bottom: 15px;
}

.mail-sender {
    color: #1b98f8;
}

.mail-date {
    color: #999;
}

.mail-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: center;
    margin: 0;
    justify-content: flex-end;
}

.mail-btn {
    border-radius: 20px;
    padding: 6px 26px;
    margin: 5px 0;
    border: 1px solid #666;
    text-align: center;
    height: 16px;
    margin: 2px;
}

.mail-btn:hover {
    background-color: #a50000;
    cursor: pointer;
    transition: 850ms ease-out;
    color: #fff;
}

.mail-main {
    color: rgb(138, 22, 22);
}