body 	{
			background-color: lightblue;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
		}

section {
			background-color: lightblue;
			background-image: url(https://picsum.photos/1200/1300);
			width: 1200px;
			height: 900px;
			background-repeat: no-repeat;
			background-position: center center;
		}