@media (max-width: 1000px) {
    .HEADER {
        background: linear-gradient(to right, #d53369, #cbad6d);
    }
}

@media (max-width: 1000px) {
    .LINKS li:hover {
        transform: translateX(-20px);
    }
}

@media(max-width: 700px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        padding-right: 20px;
    }
}

@media(max-width: 500px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 1000px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 300px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 1800px) {
    .LINKS ul li {
        position: relative;
        left: 50px;
        height: 10px;
    }
}

@media(max-width: 700px) {
    .ROW {
        flex-direction: column;
    }
}

@media(max-width: 700px) {
    hr {
        margin: auto 60px;
    }
}

@media(max-width: 700px) {
    .TEXT4 h1 {
        font-size: 2rem;
    }
    .TEXT4 p {
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .TEXT4 h1 {
        font-size: 2rem;
    }
    .TEXT4 p {
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .TEXT5 h1 {
        font-size: 2rem;
    }
    .TEXT5 p {
        font-size: 20px;
    }
}

@media(max-width: 700px) {
    .TEXT5 h1 {
        font-size: 1rem;
    }
    .TEXT5 p {
        font-size: 20px;
    }
}