@media (max-width: 1000px) {
    .HEADER,
    .HEADER2,
    .HEADER3,
    .HEADER4 {
        background: linear-gradient(to right, #d53369, #cbad6d);
    }
}

@media (max-width: 1000px) {
    .LINKS li:hover {
        transform: translateX(-20px);
    }
}

@media(max-width: 700px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        padding-right: 20px;
    }
}

@media(max-width: 500px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 1000px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 300px) {
    .TEXT h1 {
        font-size: 20px;
    }
    .LINKS ul li {
        display: block;
        height: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 1800px) {
    .LINKS ul li {
        position: relative;
        left: 50px;
        height: 10px;
    }
}

@media(max-width: 700px) {
    .ROW {
        flex-direction: column;
    }
}

@media(max-width: 700px) {
    hr {
        margin: auto 60px;
    }
}

@media(max-width: 700px) {
    .TEXT4 h1 {
        font-size: 2rem;
    }
    .TEXT4 p {
        font-size: 20px;
    }
    .TEXT5 h1 {
        font-size: 2rem;
    }
    .TEXT5 p {
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .TEXT4 h1 {
        font-size: 2rem;
    }
    .TEXT4 p {
        font-size: 20px;
    }
    .TEXT5 h1 {
        font-size: 2rem;
    }
    .TEXT5 p {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    #lightbox img {
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 1000px) {
    .HEADER2 .LINKS {
        bottom: 0px;
    }
    .LINKS ul>li:hover {
        transition: none;
        transform: none;
    }
    nav .ROGER {
        display: none;
    }
    .HEADER,
    .HEADER2,
    .HEADER3,
    .HEADER4 {
        display: flex;
        flex-direction: column;
    }
    .TEXT4,
    .TEXT5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}